<%= f.hidden_field :toggl_id %>

<div class="box tabular">
  <div>
    <p>
      <label><%= l('toggl.description') %></label>
      <%= f.text_field :description, :size => 80, :label => '' %>
    </p>

    <p>
      <label><%= l('toggl.start') %></label>
      <% Time.use_zone(User.current.time_zone || 'UTC') do %>
        <%= f.datetime_select :start %>
      <% end %>
    </p>

    <p>
      <label><%= l('toggl.stop') %></label>
      <% Time.use_zone(User.current.time_zone || 'UTC') do %>
        <%= f.datetime_select :stop %>
      <% end %>
    </p>

    <%
        user_workspace = f.object.user.try(:toggl_workspace) || User.current.toggl_workspace
        if user_workspace
    %>
      <%= f.hidden_field :toggl_workspace_id, :value => user_workspace.id %>
    <% else %>
      <p>
        <label><%= l('toggl.toggl_workspace') %></label>
        <%= f.collection_select :toggl_workspace_id, TogglWorkspace.without_user.order(:name), :id, :name %>
      </p>

      <p>
        <label><%= l('toggl.toggl_project') %></label>
        <%= f.grouped_collection_select :toggl_project_id, TogglWorkspace.without_user.order(:name), :toggl_projects, :name, :id, :name, :blank => :label_none %>
      </p>

      <p>
        <label><%= l('toggl.toggl_task') %></label>
        <%= f.grouped_collection_select :toggl_task_id, TogglProject.without_user.order(:name), :toggl_tasks, :name, :id, :name, :blank => :label_none %>
      </p>
    <% end %>

    <p>
      <label><%= l('toggl.toggl_tags') %></label>
      <%= f.text_field :toggl_tags, :size => 80, :label => '' %>
    </p>

  </div>
</div>

<%= javascript_include_tag 'console_fallback', :plugin => 'redmine_toggl' %>

<% unless User.current.toggl_workspace %>
  <%= javascript_include_tag 'redmine_toggl_edit', :plugin => 'redmine_toggl' %>
<% end %>

