<div class="contextual">
  <% if user_can_create_toggl_entry %>
    <%= link_to l('toggl.new_toggl_entry'), new_toggl_entry_path, :class => 'icon icon-add' %>
  <% end %>

  <%= link_to l('toggl.my_entries'), toggl_entries_path, :class => 'icon icon-user' %>

  <% if user_can_view_others_entries %>
    <%= link_to l('toggl.all_entries'), all_entries_toggl_entries_path, :class => 'icon icon-projects' %>
  <% end %>
</div>

<h2><%= t('toggl.toggl_entries') %> - <%= link_to_user(@filter_user) %></h2>
<% html_title "#{t('toggl.toggl_entries')} - #{@filter_user.name}" %>

<%= render :partial => 'toggl_entries', :locals => {:data_source => filter_by_user_toggl_entries_path(:filter_user_id => @filter_user.id), :for_user => true} %>

